<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sections</key>
	<array>
		<dict>
			<key>title</key>
			<string>OAuth Request</string>
			<key>item</key>
			<array>
				<dict>
					<key>identifier</key>
					<string>RequestAccessTokenController</string>
					<key>description</key>
					<string>OAuth2.0 获取访问令牌</string>
				</dict>
				<dict>
					<key>identifier</key>
					<string>RefreshAccessTokenController</string>
					<key>description</key>
					<string>OAuth2.0 刷新访问令牌</string>
				</dict>
				<dict>
					<key>identifier</key>
					<string>AccountLoginController</string>
					<key>description</key>
					<string>OAuth2.0 用户名密码登录</string>
				</dict>
				<dict>
					<key>identifier</key>
					<string>MobileLoginViewController</string>
					<key>description</key>
					<string>OAuth2.0 手机号短信登录</string>
				</dict>
				<dict>
					<key>identifier</key>
					<string>QueryVehicleIdentifierController</string>
					<key>description</key>
					<string>OAuth2.0 查询车辆识别码</string>
				</dict>
				<dict>
					<key>identifier</key>
					<string>OAuthErrorCodeHandleController</string>
					<key>description</key>
					<string>OAuth2.0 错误码处理演示</string>
				</dict>
				<dict>
					<key>identifier</key>
					<string>ApplicationSimulate</string>
					<key>description</key>
					<string>应用程序模拟</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Common Request</string>
			<key>item</key>
			<array>
				<dict>
					<key>identifier</key>
					<string>WeatherQueryController</string>
					<key>description</key>
					<string>天气查询模拟</string>
				</dict>
				<dict>
					<key>identifier</key>
					<string>DoubanOnlinesController</string>
					<key>description</key>
					<string>豆瓣线上活动</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
